<div class="mainSection">
    <img class="characterImg" src="{{actor.img}}" data-edit="img" data-action="editImage" title="{{actor.name}}">
    <div class="resourceHolder emphasis">
        {{> "systems/conquestandcalamity/templates/partials/resource-box.hbs" displayName="HP" foundryName="system.hp.current" value=system.hp.current foundryMaxName="system.hp.max" maxValue=system.hp.max}}
        {{> "systems/conquestandcalamity/templates/partials/resource-box.hbs" displayName="Temp HP" foundryName="system.hp.temp" value=system.hp.temp}}
        {{> "systems/conquestandcalamity/templates/partials/resource-box.hbs" displayName="Stamina" foundryName="system.stamina.current" value=system.stamina.current foundryMaxName="system.stamina.max" maxValue=system.stamina.max}}
    </div>
    <div class="resourceHolder wideResource">
        {{> "systems/conquestandcalamity/templates/partials/resource-box.hbs" displayName="Healing Resist." foundryName="system.healingResistance" value=system.healingResistance}}
        {{> "systems/conquestandcalamity/templates/partials/resource-box.hbs" displayName="system.otherResourceName" nameValue=system.otherResourceName foundryName="system.otherResource" value=system.otherResource}}
    </div>
    <div class="otherStats">
        <div class="statNum"><span class="statLabel">Movement Points:</span> <input type="number" name="system.movementPoints" value="{{system.movementPoints}}"></div>
        <div class="statNum"><span class="statLabel">Damage Reduction:</span> <input type="number" name="system.damageReduction" value="{{system.damageReduction}}"></div>
        <div class="statNum defenseStat"><span class="statLabel">Defense (M|R): </span><input type="number" name="system.mDef" value="{{system.mDef}}">|<input type="number" name="system.rDef" value="{{system.rDef}}"></div>
    </div>

    <div class="otherStats" style="border-top: none">
        <div class="statText"><span class="statLabel">Resistances:</span> <input type="text" name="system.resistances" value="{{system.resistances}}"></div>
        <div class="statText"><span class="statLabel">Weaknesses:</span> <input type="text" name="system.weaknesses" value="{{system.weaknesses}}"></div>
        <div class="statText"><span class="statLabel">Immunities:</span> <input type="text" name="system.immunities" value="{{system.immunities}}"></div>
    </div>
    <div class="otherStats" style="border-top: none">
        <div class="statText"><span class="statLabel">Conditions:</span> <input type="text" name="system.conditions" value="{{system.conditions}}"></div>
        <div class="statText"><span class="statLabel">Diseases:</span> <input type="text" name="system.diseases" value="{{system.diseases}}"></div>
        <div class="statText"><span class="statLabel">Critical Injuries:</span> <input type="text" name="system.criticalInjuries" value="{{system.criticalInjuries}}"></div>
    </div>
    <div class="statsHeader">Attacks</div>
    {{> "systems/conquestandcalamity/templates/partials/attack.hbs"}}
    {{> "systems/conquestandcalamity/templates/partials/attack.hbs"}}
    {{> "systems/conquestandcalamity/templates/partials/attack.hbs"}}
</div>