<div class="resource">
    <div class="statBox">
        <div class="statName">{{displayName}}</div>
        {{#if max}}
            <div class="statValue">{{value}} / {{max}}</div>
        {{else}}    
            <input class="statValue" type="number" name="{{foundryName}}" value={{value}}>
        {{/if}}
    </div>
    <button style="margin-bottom: 3px">+</button>
    <button style="margin-top: 3px">-</button>
</div>